<div class="header">
    <h1>Welcome to the Name App!</h1>
</div>
<div>
    <div class="input">
        <label>Please Enter a First Name:</label>
        <input #firstName type="text"/>
    </div>
    <div class="input">
        <label>Please Enter a Last Name:</label>
        <input #lastName type="text" (keydown.enter)="handleKeyPressFirstName(firstName.value); handleKeyPressLastName(lastName.value)"/>
    </div>
</div>
<div class="submit" >
    <button (click)="handleKeyPressFirstName(firstName.value); handleKeyPressLastName(lastName.value);">Submit</button>
</div>
